In [1]:
import pandas as pd
import numpy as np

In [2]:
StuNum=[] #빈 list 생성 
data = pd.read_csv("./Student Number.csv",header=None) #column명이 없기때문에
data

           0   1
0   60141931 NaN
1   60161647 NaN
2   60171889 NaN
3   60141940 NaN
4   60175071 NaN
5   60151883 NaN
6   60141949 NaN
7   60161863 NaN
8   60141960 NaN
9   60161672 NaN
10  60141962 NaN
11  60141969 NaN
12  60155307 NaN
13  60151897 NaN
14  60151900 NaN
15  60171902 NaN
16  60175072 NaN
17  60175074 NaN
18  60161700 NaN
19  60142001 NaN
20  60141931 NaN
21  60161647 NaN
22  60171889 NaN
23  60141940 NaN
24  60175071 NaN
25  60151883 NaN
26  60141949 NaN
27  60161863 NaN
28  60141960 NaN
29  60161672 NaN
30  60141962 NaN
31  60141969 NaN
32  60155307 NaN
33  60151897 NaN
34  60151900 NaN
35  60171902 NaN
36  60175072 NaN
37  60175074 NaN
38  60161700 NaN
39  60142001 NaN

In [3]:
data.columns = ["n","x"] #열구분
data = data.drop(columns="x") #unnamed 삭제
#data.head()
StuNum = np.array(data.n) #넘파이 패키지로 배열 생성
StuNum

array([60141931, 60161647, 60171889, 60141940, 60175071, 60151883,
       60141949, 60161863, 60141960, 60161672, 60141962, 60141969,
       60155307, 60151897, 60151900, 60171902, 60175072, 60175074,
       60161700, 60142001, 60141931, 60161647, 60171889, 60141940,
       60175071, 60151883, 60141949, 60161863, 60141960, 60161672,
       60141962, 60141969, 60155307, 60151897, 60151900, 60171902,
       60175072, 60175074, 60161700, 60142001], dtype=int64)

In [4]:
def chunker(seq, size): #chunker 함수 정의 리스트 원소 균일하게 분배
    return (seq[pos:pos + size] for pos in range(0, len(seq), size)) #xrange
#range값 안에서 반복한 값을 반환
#반복한 값부터 size더한 값까지 Slicing한 값 반환

In [5]:
for group in chunker(StuNum, 2):#전체 리스트를 두개 원소씩 분배 
    print (group)

[60141931 60161647]
[60171889 60141940]
[60175071 60151883]
[60141949 60161863]
[60141960 60161672]
[60141962 60141969]
[60155307 60151897]
[60151900 60171902]
[60175072 60175074]
[60161700 60142001]
[60141931 60161647]
[60171889 60141940]
[60175071 60151883]
[60141949 60161863]
[60141960 60161672]
[60141962 60141969]
[60155307 60151897]
[60151900 60171902]
[60175072 60175074]
[60161700 60142001]

In [6]:
StuNum[0]#분리된 원소

60141931

In [7]:
temp = str(StuNum[0]) #StuNum의 1원소를 하나씩 분리하기 위해 string값으로 변환
studentnumlist = [] 
for i in range(8): #학번을 8개의 range로 분리
    studentnumlist.append(temp[i]) 
studentnumlist
#string으로 변환된 temp값을 8크기만큼 studentnumlist 리스트에 추가

['6', '0', '1', '4', '1', '9', '3', '1']

In [8]:
listof2 = []
for group in chunker(studentnumlist, 2):#studentnumlist 리스트를 두개 원소씩 분배 
    print (group)
    listof2.append(group) #두개 원소씩 분배된 group값을 listof2 리스트에 추가
listof2

['6', '0']
['1', '4']
['1', '9']
['3', '1']

[['6', '0'], ['1', '4'], ['1', '9'], ['3', '1']]

In [9]:
temp2 = np.array(listof2).ravel() #다차원 배열을 1차원 배열로 펴주는 함수=!reshape()
temp2 = list(temp2.astype(int)) #temp2의 data type을 string에서 숫자형 int로 변환
temp2
#np change array dtype

[6, 0, 1, 4, 1, 9, 3, 1]

In [10]:
#temp3 = temp2.copy()
#temp3.append(temp2[::-1]) #배열 자체를 출력해서 배열 안에 배열이 들어감
#temp3

In [11]:
temp2+temp2[::-1]

[6, 0, 1, 4, 1, 9, 3, 1, 1, 3, 9, 1, 4, 1, 0, 6]

In [12]:
#temp3 = temp2.copy()
#for j in range(len(temp2)): #temp2 크기만큼 range값 안에서 반복
#    temp3.append(temp2[len(temp2)-1-j]) #temp2의 
#temp3
#how to access digit in number by index python 원소의 숫자를 자릿수로 접근

In [13]:
A = []
for group in chunker(temp2+temp2[::-1], 2): #두개씩 묶어서 string으로 출력
    A.append(''.join(str(e) for e in group))
#     print (np.array(group).ravel())
A
#원소를 둘씩 묶기위해 리스트 스트링으로 변환
#두개씩 읽어들이기 위해 join함수활용

['60', '14', '19', '31', '13', '91', '41', '06']

In [14]:
A = np.array(A).astype(int) #A배열의 data type을 string에서 숫자형 int로 변환
A

array([60, 14, 19, 31, 13, 91, 41,  6])

In [15]:
for k in StuNum: #반복문에 삽입
    temp=str(k)
    studentnumlist=[]
    for i in range(8):
        studentnumlist.append(temp[i])  
        
    listof2=[]
    for group in chunker(studentnumlist, 2):
                listof2.append(group)
    
    temp2=np.array(listof2).ravel()
    temp2=list(temp2.astype(int))
    temp3=temp2.copy()
    
    for j in range(len(temp2)):
        temp3.append(temp2[len(temp2)-1-j])
    
    temp4=[]
    for group in chunker(temp3, 2):
        temp4.append(''.join(str(e) for e in group))
        
    temp4=np.array(temp4).astype(int)
    
    print(temp4) 
#henock

[60 14 19 31 13 91 41  6]
[60 16 16 47 74 61 61  6]
[60 17 18 89 98 81 71  6]
[60 14 19 40  4 91 41  6]
[60 17 50 71 17  5 71  6]
[60 15 18 83 38 81 51  6]
[60 14 19 49 94 91 41  6]
[60 16 18 63 36 81 61  6]
[60 14 19 60  6 91 41  6]
[60 16 16 72 27 61 61  6]
[60 14 19 62 26 91 41  6]
[60 14 19 69 96 91 41  6]
[60 15 53  7 70 35 51  6]
[60 15 18 97 79 81 51  6]
[60 15 19  0  0 91 51  6]
[60 17 19  2 20 91 71  6]
[60 17 50 72 27  5 71  6]
[60 17 50 74 47  5 71  6]
[60 16 17  0  0 71 61  6]
[60 14 20  1 10  2 41  6]
[60 14 19 31 13 91 41  6]
[60 16 16 47 74 61 61  6]
[60 17 18 89 98 81 71  6]
[60 14 19 40  4 91 41  6]
[60 17 50 71 17  5 71  6]
[60 15 18 83 38 81 51  6]
[60 14 19 49 94 91 41  6]
[60 16 18 63 36 81 61  6]
[60 14 19 60  6 91 41  6]
[60 16 16 72 27 61 61  6]
[60 14 19 62 26 91 41  6]
[60 14 19 69 96 91 41  6]
[60 15 53  7 70 35 51  6]
[60 15 18 97 79 81 51  6]
[60 15 19  0  0 91 51  6]
[60 17 19  2 20 91 71  6]
[60 17 50 72 27  5 71  6]
[60 17 50 74 47  5 71  6]
[60 16 17  0  0 71 61  6]
[60 14 20  1 10  2 41  6]

In [16]:
Final_result=[] #excel로 내보내기 위한 2중 list 생성
for k in StuNum: #과정들을 for문으로 반복해 각list로 생성
    temp=str(k)
    studentnumlist=[]
    for i in range(8):
        studentnumlist.append(temp[i])  
        
    listof2=[]
    for group in chunker(studentnumlist, 2):
                listof2.append(group)
    
    temp2=np.array(listof2).ravel()
    temp2=list(temp2.astype(int))
    
    temp3 = temp2+temp2[::-1]
   
    temp4 = []
    for group in chunker(temp3, 2):
        temp4.append(''.join(str(e) for e in group))
    temp4 = np.array(temp4).astype(int)
   
    if temp3[8] == 0: #0일 때는 그대로 출력
        temp4
    else:
        temp4[0] = int(temp4[0]/temp3[8]) #아닐 때는 나눗셈 연산 후 출력
        temp4
        
    A = []
    for v in temp4: #중복값 연산
        if v not in A: #없는 값이면 그대로 출력
            A.append(v)
        else: A.append(v+1) #있는 값이면 +1 후 출력
    print(A) #최종 출력
    
    Final_result.append(A)
    
#Final_result 이중list 출력

df = pd.DataFrame() #dataframe 생성
df['Student Number'] = StuNum[::] #칼럼명 정의 후 삽입
df['CalStudent Number'] = Final_result[::]
df.to_excel("New Number.xlsx") #엑셀파일 생성

[60, 14, 19, 31, 13, 91, 41, 6]
[8, 16, 17, 47, 74, 61, 62, 6]
[6, 17, 18, 89, 98, 81, 71, 7]
[60, 14, 19, 40, 4, 91, 41, 6]
[60, 17, 50, 71, 18, 5, 72, 6]
[20, 15, 18, 83, 38, 81, 51, 6]
[6, 14, 19, 49, 94, 91, 41, 7]
[20, 16, 18, 63, 36, 81, 61, 6]
[60, 14, 19, 61, 6, 91, 41, 7]
[30, 16, 17, 72, 27, 61, 62, 6]
[30, 14, 19, 62, 26, 91, 41, 6]
[6, 14, 19, 69, 96, 91, 41, 7]
[8, 15, 53, 7, 70, 35, 51, 6]
[8, 15, 18, 97, 79, 81, 51, 6]
[60, 15, 19, 0, 1, 91, 51, 6]
[30, 17, 19, 2, 20, 91, 71, 6]
[30, 17, 50, 72, 27, 5, 71, 6]
[15, 17, 50, 74, 47, 5, 71, 6]
[60, 16, 17, 0, 1, 71, 61, 6]
[60, 14, 20, 1, 10, 2, 41, 6]
[60, 14, 19, 31, 13, 91, 41, 6]
[8, 16, 17, 47, 74, 61, 62, 6]
[6, 17, 18, 89, 98, 81, 71, 7]
[60, 14, 19, 40, 4, 91, 41, 6]
[60, 17, 50, 71, 18, 5, 72, 6]
[20, 15, 18, 83, 38, 81, 51, 6]
[6, 14, 19, 49, 94, 91, 41, 7]
[20, 16, 18, 63, 36, 81, 61, 6]
[60, 14, 19, 61, 6, 91, 41, 7]
[30, 16, 17, 72, 27, 61, 62, 6]
[30, 14, 19, 62, 26, 91, 41, 6]
[6, 14, 19, 69, 96, 91, 41, 7]
[8, 15, 53, 7, 70, 35, 51, 6]
[8, 15, 18, 97, 79, 81, 51, 6]
[60, 15, 19, 0, 1, 91, 51, 6]
[30, 17, 19, 2, 20, 91, 71, 6]
[30, 17, 50, 72, 27, 5, 71, 6]
[15, 17, 50, 74, 47, 5, 71, 6]
[60, 16, 17, 0, 1, 71, 61, 6]
[60, 14, 20, 1, 10, 2, 41, 6]